

.zipCodeInput__container {
    display: flex;
    flex-direction: column;
}

.zipCodeInput__input--style
{
    height: 2rem;
    border: 2px solid lightgray;
}

.zipCodeInput__input--style:focus {
    outline: 1px solid rgb(2, 204, 255);
}