.ccImages__container--style {
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

.ccImages__image--style {
  width: inherit;
  margin: 0.1rem;
  flex: 1;
  max-width: 3.6rem;
  object-fit: cover;
  border: 1px solid lightgray;
  min-height: 2rem;
}

.american-express-style {
    max-height: 2rem;
}
